body{
   margin: 0;
   padding: 0;
   max-height: 100vh;
   max-width: 100vw;
   overflow: hidden;
}

.game, .start{
   display: grid;
   grid-template-columns: repeat(100, 1vw);
   grid-template-rows: repeat(100, 1vh);
}

h1{
   grid-row: 2 / 20;
   grid-column: 20 / 80;
   display: flex;
   justify-content: center;
   align-items: center;
}

.regle{
   grid-row: 21 / 41;
   grid-column: 30 / 70;
   display: flex;
   align-content: center;
   justify-content: center;
}



nav{
   grid-column: 10 / 90;
   grid-row: 45 / 65;
   display:flex;
   flex-wrap: nowrap;
   justify-content: space-around;
   height: 5vmax;
}

.leaderboard{
   grid-column: 20 / 80;
   grid-row: 70 / 95;
}

div{
   position:absolute;
}


/*Def des couleurs*/
.noir{
   background-color: black;
}

.red{
   background-color: red;
}

.green{
   background-color: green;
}

.yellow{
   background-color: yellow;
}

/*Def des formes*/
.carre{
   height:3vmax;
   width: 3vmax;
   border:1px solid black;
}

.rond{
   border-radius:50%;
   width:3vmax;
   height:3vmax;
   border:1px solid black;
}

.scoring{
   grid-row: 2/15;
   grid-column: 2/100;
   display:flex;
   justify-content: space-around;
   border: 1px solid black;
}

.divJeu{
   grid-row: 16/99;
   grid-column: 1/99;s
}

.timer{
   border: 1px solid black;
   padding:2vmax;
   }

.difficulte{
   display: flex;
   justify-content:center;
   align-items: center;
}

.score{
   display: flex;
   justify-content: center;
   align-items: center;
}
